/.vs/AnriMartProject/config/applicationhost.config
/.vs/AnriMartProject/DesignTimeBuild/.dtbcache.v2
/.vs/AnriMartProject/FileContentIndex/889a7f5b-0aa8-489d-9caa-5fbe31ead94c.vsidx
/.vs/AnriMartProject/FileContentIndex/12545d1d-ca8a-4346-9d7b-fc01d0db1729.vsidx
/.vs/AnriMartProject/FileContentIndex/a7d92cbd-850a-4b7c-97ba-b9a40930c1b9.vsidx
/.vs/AnriMartProject/FileContentIndex/b3bbebf0-0668-40ff-8140-7476b7c251d0.vsidx
/.vs/AnriMartProject/FileContentIndex/dd87bc03-444e-4611-bd7f-375b1428892f.vsidx
/.vs/AnriMartProject/v17/.futdcache.v2
/.vs/AnriMartProject/v17/.suo
/.vs/AnriMartProject/v17/HierarchyCache.v1.txt
/.vs/NetcoreConcepts/DesignTimeBuild/.dtbcache.v2
/.vs/NetcoreConcepts/FileContentIndex/67224a2b-1163-4870-a984-3f376bb718d9.vsidx
/.vs/NetcoreConcepts/FileContentIndex/b52ed95a-32e1-40f2-852f-1e6d4c9e6409.vsidx
/.vs/NetcoreConcepts/FileContentIndex/c47f19d0-ab56-459b-9517-09756a632c75.vsidx
/.vs/NetcoreConcepts/FileContentIndex/cea39246-2002-41f7-b5f0-916917df4cbc.vsidx
/.vs/NetcoreConcepts/FileContentIndex/ec74e0b9-f63f-43b9-8db0-978ba5a63156.vsidx
/.vs/NetcoreConcepts/v17/.wsuo
/.vs/NetcoreConcepts/v17/workspaceFileList.bin
/.vs/ProjectEvaluation/anrimartproject.metadata.v7.bin
/.vs/ProjectEvaluation/anrimartproject.projects.v7.bin
/.vs/ProjectEvaluation/netcoreconcepts.metadata.v7.bin
/.vs/ProjectEvaluation/netcoreconcepts.projects.v7.bin
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
